In [17]:
import numpy as np
import pandas as pd

In [18]:
data_path = "../data/data.csv"

header = ['id', 'diagnosis']

for i in range(30):
    header.append(f'F{i}')

df = pd.read_csv(data_path, names=header)
df.head(5)

,id,diagnosis,F0,F1,F2,F3,F4,F5,F6,F7,...,F20,F21,F22,F23,F24,F25,F26,F27,F28,F29
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,...,25.38,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,...,24.99,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,...,23.57,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,...,14.91,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,...,22.54,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678

In [19]:
df.describe()

,id,F0,F1,F2,F3,F4,F5,F6,F7,F8,...,F20,F21,F22,F23,F24,F25,F26,F27,F28,F29
count,5.690000e+02,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,...,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000
mean,3.037183e+07,14.127292,19.289649,91.969033,654.889104,0.096360,0.104341,0.088799,0.048919,0.181162,...,16.269190,25.677223,107.261213,880.583128,0.132369,0.254265,0.272188,0.114606,0.290076,0.083946
std,1.250206e+08,3.524049,4.301036,24.298981,351.914129,0.014064,0.052813,0.079720,0.038803,0.027414,...,4.833242,6.146258,33.602542,569.356993,0.022832,0.157336,0.208624,0.065732,0.061867,0.018061
min,8.670000e+03,6.981000,9.710000,43.790000,143.500000,0.052630,0.019380,0.000000,0.000000,0.106000,...,7.930000,12.020000,50.410000,185.200000,0.071170,0.027290,0.000000,0.000000,0.156500,0.055040
25%,8.692180e+05,11.700000,16.170000,75.170000,420.300000,0.086370,0.064920,0.029560,0.020310,0.161900,...,13.010000,21.080000,84.110000,515.300000,0.116600,0.147200,0.114500,0.064930,0.250400,0.071460
50%,9.060240e+05,13.370000,18.840000,86.240000,551.100000,0.095870,0.092630,0.061540,0.033500,0.179200,...,14.970000,25.410000,97.660000,686.500000,0.131300,0.211900,0.226700,0.099930,0.282200,0.080040
75%,8.813129e+06,15.780000,21.800000,104.100000,782.700000,0.105300,0.130400,0.130700,0.074000,0.195700,...,18.790000,29.720000,125.400000,1084.000000,0.146000,0.339100,0.382900,0.161400,0.317900,0.092080
max,9.113205e+08,28.110000,39.280000,188.500000,2501.000000,0.163400,0.345400,0.426800,0.201200,0.304000,...,36.040000,49.540000,251.200000,4254.000000,0.222600,1.058000,1.252000,0.291000,0.663800,0.207500

In [20]:
Y = df[['diagnosis']]

X = df.drop(labels=['diagnosis', 'id'], axis=1, inplace=False)
Y.head()

  diagnosis
0         M
1         M
2         M
3         M
4         M

In [21]:
X.head()

,F0,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F20,F21,F22,F23,F24,F25,F26,F27,F28,F29
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,0.07871,...,25.38,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,0.05667,...,24.99,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,0.05999,...,23.57,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,0.2597,0.09744,...,14.91,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,0.1809,0.05883,...,22.54,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678

In [22]:
Y = Y['diagnosis'].apply(lambda x: 1 if x == 'M' else 0)
Y.describe()

count    569.000000
mean       0.372583
std        0.483918
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000
Name: diagnosis, dtype: float64

In [23]:
Y

0      1
1      1
2      1
3      1
4      1
      ..
564    1
565    1
566    1
567    1
568    0
Name: diagnosis, Length: 569, dtype: int64

In [110]:

import importlib
imported_module = importlib.import_module("MLP")
importlib.reload(imported_module)
from MLP import MultiLayerPerceptron

mlp = MultiLayerPerceptron(seed=1)

mlp.add_layer(size=1)
mlp.add_layer(size=4, label="hidden_layer")
mlp.add_layer(size=8, label="hidden_layer")
mlp.add_layer(label="output_layer")
# print(X.to_numpy())
mlp.fit(X.to_numpy(), Y.to_numpy(), verbose=False)

init of layers
init of input layer
Input layer shape:  (1, 30) (1,)
Hidden Layer  1
Number of neurons:  4
4 4
w shape :  (4, 1)  b shape:  (4,)
Hidden Layer  2
Number of neurons:  8
8 8
w shape :  (8, 4)  b shape:  (8,)
Hidden Layer  3
Number of neurons:  1
1 1
w shape :  (1, 8)  b shape:  (1,)
[array([0.]), array([0.37995606, 0.49986787, 0.37983406, 0.31147996]), array([0.16350191, 0.71013051, 0.77139449, 0.5246301 , 0.31553964,
       0.38051812, 0.42407215, 0.86808269]), array([0.53014193])]
[array([0.]), array([0.37995606, 0.49986787, 0.37983406, 0.31147996]), array([0.16350191, 0.71013051, 0.77139449, 0.5246301 , 0.31553964,
       0.38051812, 0.42407215, 0.86808269]), array([0.53014193])]
[array([0.]), array([0.37995606, 0.49986787, 0.37983406, 0.31147996]), array([0.16350191, 0.71013051, 0.77139449, 0.5246301 , 0.31553964,
       0.38051812, 0.42407215, 0.86808269]), array([0.53014193])]
[array([0.]), array([0.37995606, 0.49986787, 0.37983406, 0.31147996]), array([0.16350191, 0.71013051, 0.77139449, 0.5246301 , 0.31553964,
       0.38051812, 0.42407215, 0.86808269]), array([0.53014193])]
[array([0.]), array([0.37995606, 0.49986787, 0.37983406, 0.31147996]), array([0.16350191, 0.71013051, 0.77139449, 0.5246301 , 0.31553964,
       0.38051812, 0.42407215, 0.86808269]), array([0.53014193])]

/mnt/nfs/homes/jdurand/work/multilayer-perceptron/notebooks/MLP.py:9: RuntimeWarning: overflow encountered in exp
  r = 1 / (1 + np.exp(-x))