In [139]:
import numpy as np
import pandas as pd

In [140]:
data_path = "../data/data.csv"

header = ['id', 'diagnosis']

for i in range(30):
    header.append(f'F{i}')

df = pd.read_csv(data_path, names=header)
df.head(5)

,id,diagnosis,F0,F1,F2,F3,F4,F5,F6,F7,...,F20,F21,F22,F23,F24,F25,F26,F27,F28,F29
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,...,25.38,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,...,24.99,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,...,23.57,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,...,14.91,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,...,22.54,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678

In [141]:
df.describe()

,id,F0,F1,F2,F3,F4,F5,F6,F7,F8,...,F20,F21,F22,F23,F24,F25,F26,F27,F28,F29
count,5.690000e+02,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,...,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000
mean,3.037183e+07,14.127292,19.289649,91.969033,654.889104,0.096360,0.104341,0.088799,0.048919,0.181162,...,16.269190,25.677223,107.261213,880.583128,0.132369,0.254265,0.272188,0.114606,0.290076,0.083946
std,1.250206e+08,3.524049,4.301036,24.298981,351.914129,0.014064,0.052813,0.079720,0.038803,0.027414,...,4.833242,6.146258,33.602542,569.356993,0.022832,0.157336,0.208624,0.065732,0.061867,0.018061
min,8.670000e+03,6.981000,9.710000,43.790000,143.500000,0.052630,0.019380,0.000000,0.000000,0.106000,...,7.930000,12.020000,50.410000,185.200000,0.071170,0.027290,0.000000,0.000000,0.156500,0.055040
25%,8.692180e+05,11.700000,16.170000,75.170000,420.300000,0.086370,0.064920,0.029560,0.020310,0.161900,...,13.010000,21.080000,84.110000,515.300000,0.116600,0.147200,0.114500,0.064930,0.250400,0.071460
50%,9.060240e+05,13.370000,18.840000,86.240000,551.100000,0.095870,0.092630,0.061540,0.033500,0.179200,...,14.970000,25.410000,97.660000,686.500000,0.131300,0.211900,0.226700,0.099930,0.282200,0.080040
75%,8.813129e+06,15.780000,21.800000,104.100000,782.700000,0.105300,0.130400,0.130700,0.074000,0.195700,...,18.790000,29.720000,125.400000,1084.000000,0.146000,0.339100,0.382900,0.161400,0.317900,0.092080
max,9.113205e+08,28.110000,39.280000,188.500000,2501.000000,0.163400,0.345400,0.426800,0.201200,0.304000,...,36.040000,49.540000,251.200000,4254.000000,0.222600,1.058000,1.252000,0.291000,0.663800,0.207500

In [142]:
Y = df[['diagnosis']]

X = df.drop(labels=['diagnosis', 'id'], axis=1, inplace=False)
Y.head()

  diagnosis
0         M
1         M
2         M
3         M
4         M

In [143]:
X.head()

,F0,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F20,F21,F22,F23,F24,F25,F26,F27,F28,F29
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,0.07871,...,25.38,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,0.05667,...,24.99,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,0.05999,...,23.57,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,0.2597,0.09744,...,14.91,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,0.1809,0.05883,...,22.54,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678

In [144]:
Y = Y['diagnosis'].apply(lambda x: 1 if x == 'M' else 0)
Y.describe()

count    569.000000
mean       0.372583
std        0.483918
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000
Name: diagnosis, dtype: float64

In [145]:
# Normalization
# zscore

stds = []
means = []
# X = X.to_numpy()
for feature in X.columns:
    stds.append(X[feature].to_numpy().std())
    means.append(X[feature].to_numpy().mean())
print("stds: ", stds)
print("means: ", means)

raw = X.copy()

i = 0
for feature in X.columns:
    X[feature] = (X[feature] - means[i]) / stds[i]
    i += 1

stds:  [3.520950760711062, 4.297254637090421, 24.27761929305318, 351.60475406323, 0.014051764066591203, 0.05276632912535515, 0.07964972534603185, 0.03876873246147477, 0.027390180864268532, 0.007054155881537345, 0.27706894152536526, 0.551163426903576, 2.0200770991455244, 45.45101341563996, 0.0029998783671144756, 0.01789243586828196, 0.030159523121970472, 0.006164860746471701, 0.008259104387588135, 0.0026437447504047374, 4.828992576060772, 6.1408543185890005, 33.57300156682593, 568.8564589532671, 0.022812356935544644, 0.15719817109455372, 0.20844087461170602, 0.06567455451119314, 0.06181307854455481, 0.01804538930859499]
means:  [14.127291739894552, 19.289648506151142, 91.96903339191564, 654.8891036906855, 0.0963602811950791, 0.10434098418277679, 0.0887993158172232, 0.04891914586994728, 0.18116186291739894, 0.06279760984182776, 0.40517205623901575, 1.2168534270650264, 2.8660592267135327, 40.337079086116, 0.007040978910369069, 0.025478138840070295, 0.03189371634446397, 0.011796137082601054, 0.02054229876977153, 0.0037949038664323374, 16.269189806678387, 25.677223198594024, 107.26121265377857, 880.5831282952548, 0.13236859402460457, 0.25426504393673116, 0.27218848330404216, 0.11460622319859401, 0.2900755711775044, 0.0839458172231986]

In [146]:
# print(raw.head(2))
X.head(2)

,F0,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F20,F21,F22,F23,F24,F25,F26,F27,F28,F29
0,1.097064,-2.073335,1.269934,0.984375,1.568466,3.283515,2.652874,2.532475,2.217515,2.255747,...,1.886690,-1.359293,2.303601,2.001237,1.307686,2.616665,2.109526,2.296076,2.750622,1.937015
1,1.829821,-0.353632,1.685955,1.908708,-0.826962,-0.487072,-0.023846,0.548144,0.001392,-0.868652,...,1.805927,-0.369203,1.535126,1.890489,-0.375612,-0.430444,-0.146749,1.087084,-0.243890,0.281190

In [147]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.01)

In [148]:

import importlib
imported_module = importlib.import_module("MLP")
importlib.reload(imported_module)
from MLP import MultiLayerPerceptron

mlp = MultiLayerPerceptron(seed=1)

mlp.add_layer(size=8)
mlp.add_layer(size=8, label="hidden_layer")
# mlp.add_layer(size=5, label="hidden_layer")
# mlp.add_layer(size=8, label="hidden_layer")
mlp.add_layer(label="out`put_layer")
# print(X.to_numpy())
mlp.fit(X_train.to_numpy(), Y_train.to_numpy(), verbose=False, epochs=500, normalization={'stds': stds, 'means': means}, _print=True)

1/10:
r2: 0.1411238006397577
loss: 0.20086662310375683
score: 0.7158081705150977
2/10:
r2: 0.17924019393434487
loss: 0.19195228689129526
score: 0.7300177619893428
3/10:
r2: 0.20993540910263386
loss: 0.18477355237648385
score: 0.7424511545293073
4/10:
r2: 0.23589152402476388
loss: 0.17870315811339355
score: 0.7619893428063943
5/10:
r2: 0.2587797051012297
loss: 0.17335026599082504
score: 0.7797513321492007
6/10:
r2: 0.2796093716117761
loss: 0.16847880165700438
score: 0.7992895204262878
7/10:
r2: 0.2989525725647453
loss: 0.1639549791802208
score: 0.8134991119005328
8/10:
r2: 0.31707431244936957
loss: 0.15971682157601602
score: 0.8294849023090586
9/10:
r2: 0.3340635047758982
loss: 0.15574353451272102
score: 0.8419182948490231
10/10:
r2: 0.35000431125563514
loss: 0.1520154349687817
score: 0.8490230905861457

In [149]:
# evaluate

from sklearn.metrics import r2_score, accuracy_score
from sklearn.metrics import confusion_matrix
# import matplotlib

y_pred = mlp.predict(X_test.to_numpy())
print('score: ', accuracy_score(Y_test, y_pred))

cm = confusion_matrix(y_pred, Y_test.to_numpy())
print(cm)

score:  1.0
[[4 0]
 [0 2]]

In [150]:
import math

def binary_cross_entropy(p, y):
    # r = ((y * np.log(p + 1e15)) + ((1 - y) * np.log(1 - p + 1e15)))
    # print(r)
    # r = r.mean()
    e = 1e-15
    r = 0
    for i in range(0, len(p)):
        r += (y[i] * math.log(p[i]+e)) + ((1 - y[i]) * math.log(1 - p[i]+e))
        r = -r / len(p)
    return r

y_pred_raw = mlp.predict(X_test.to_numpy(), raw=True)
e = binary_cross_entropy(y_pred_raw, Y_test.to_numpy())
print(e)
e = binary_cross_entropy(y_pred, Y_test.to_numpy())
print(e)

# print(y_pred_raws)

0.06670365005795288
-1.5859988981324297e-16

In [151]:
mlp.export()

successfuly exported in ./mlp.pkl